
@{
    Layout = null;
}
    <!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Paneli</title>
    <link rel="icon" type="image/x-icon" href="~/WebTemplate/images//favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="~/WebTemplate/images//apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/WebTemplate/images//apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/WebTemplate/images//apple-touch-icon-57x57-precomposed.png">
    <link href="https://fonts.googleapis.com/css?family=Arizonia|Crimson+Text:400,400i,600,600i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/libraries/lib.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/css/navigation-menu.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/css/shortcode.css">
    <link rel="stylesheet" type="text/css" href="~/WebTemplate/style.css">
</head>
<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
    <div class="main-container">
        <header class="header-section container-fluid no-padding">
            <div class="container-fluid no-padding menu-block">
                <div class="container">
                    <nav class="navbar navbar-default ow-navigation">
                        <div class="navbar-header">
                            <a href="index.html" class="navbar-brand">Deniz <span>Akpınar</span></a>
                        </div>
                        <div class="navbar-collapse collapse navbar-right" id="navbar">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="~/Category/MainCategory" title="Home" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                                </li>
                                <li><a href="~/Product/MainProduct" title="Products">Urunler</a></li>
                                <li><a href="~/About/MainAbout" title="About Us">Hakkımızda Menusu</a></li>
                                <li><a href="~/Contact/MainContact" title="Contact Us">Iletisim Menusu</a></li>
                                <li><a href="#" title="WebSite">Siteye Don</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="~/WebTemplate/js/jquery.min.js"></script>
    <script src="~/WebTemplate/libraries/lib.js"></script>
    <script src="~/WebTemplate/libraries/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/WebTemplate/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/WebTemplate/js/functions.js"></script>

</body>
</html>
